.additional-item {
  border-bottom: 1px solid #cdcdcd;
}

.additional-item__title {
  margin: 0;
  padding: 15px 0;

  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald regular", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.additional-item a {
  text-decoration: none;
}

.additional-item__info-block {
  margin-bottom: 15px;

  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.additional-item__button {
  margin-bottom: 15px;
}
