.advantages {
 margin-top: 30px;
}
.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}
.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  font-style: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald regular", Arial, sans-serif;
}
.advantages__list {
  padding: 0;

  list-style: none;
}
.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 60px;
      height: 60px;
      background-color: @green;
    }
}
.advantages__text {
  margin: 0;
  padding-top: 5px;
}
