.catalog-additional {
  margin-top: 25px;
  border-top: 1px solid #ededed;
}

.catalog-additional__wrapper {
  width: 280px;
  margin: 0 auto;
}
.catalog-additional__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;

  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald regular", "Arial", sans-serif;
  text-transform: none;
  text-align: left;

  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.catalog-additional__special-promo {
  margin-top: 40px;
  background-color: #7dc154;
  background-image: url("../../img/background/gift-photo-mobile@1x.jpg");
  background-position: center;

}
.catalog-additional__special-text {
  margin: 0 auto;
  padding-top: 190px;
  padding-bottom: 40px;
  width: 170px;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-transform: none;
  text-align: center;
}
