.categories {
  margin-top: 20px;
}

.categories__wrapper {
  width: 280px;
  margin: 0 auto;
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  background-color: @bg-gray;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.categories__title {
  margin: 0;
  padding: 37px 0 30px 90px;

  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald regular", "Arial", sans-serif;
  text-transform: uppercase;
}

.categories__text {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  padding-bottom: 18px;

  border-bottom: 1px solid #e6e6e6;
}

.categories__button {
  display: block;

  width: 280px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald regular", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    color: #cccccc;
  }
}
