.page-footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: auto;
}

.page-footer__social {
  width: 320px;
  background: @bg-gray;
}

.page-footer__logo-text {
  display: block;

  padding: 40px 75px 30px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-image {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-block {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__credits {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__dev-link {
  display: block;
  padding: 30px 0;

  font-weight: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;

  &:active {
    color: #d4d4d4;
  }
}

.page-footer__dev-logo {
  display: block;
  padding: 20px 0;
}

.page-footer__dev-logo path {
  fill: #111111;

  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    width: 100%;
  }

  .page-footer__logo-text {
    width: 128px;
    padding: 0;

    border: none;
  }

  .page-footer__social-block {
    width: 126px;

    border: none;
  }

  .page-footer__credits {
    width: 162px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .page-footer__wrapper {
    position: relative;
    width: 1220px;
  }

  .page-footer__social {
    width: 100%;
  }
}
