.page-header {
  display: flex;
  min-width: 320px;
  min-height: 65px;

  background-color: @bg-white;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
}

.page-header__logotype {
  display: flex;
  width: 220px;
  height: 65px;
  align-items: center;
  justify-content: flex-start;
}

.page-header__logo-image {
  display: block;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: @tablet-width;
  }

  .page-header__wrapper {
    flex-direction: row;
    width: 708px;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo-image {
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(255, 255, 255, 0);
  }

  .page-header__wrapper {
    width: 1220px;
  }
}
