.promo {
  padding: 0;
  margin: 0;
  min-width: 320px;

  background-image: url("../../img/background/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 305px;
  background-position: center 0px;
}
.promo__wrapper {
  width: 280px;
  margin: 0 auto;
}
.promo__title {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  padding-top: 28px;

  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald regular", Arial, sans-serif;
  text-transform: none;
  color: #fff;
}

.promo__subtitle {
  margin: 0;
  margin-top: 17px;
  padding: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald regular", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo__image {
  margin-top: 25px;
}
